# SPDX-License-Identifier: GPL-2.0
#
# Serial device configuration
#

config SERIAL_EXYNOS
	tristate "Exynos SoC serial support"
	depends on SERIAL_SAMSUNG
	select SERIAL_CORE
	help
	  Support for the on-chip UARTs on the Samsung Exynos SOC.
	  It provie /dev/ttySAC0,1,2 for tty uart console.
	  Exynos chip cannot use mainline samsung_tty driver, so modify
	  some of it and use it as module driver.

config SERIAL_EXYNOS_KUNIT_TEST
	tristate "Exynos SoC serial Kunit Test" if !KUNIT_ALL_TESTS
	depends on KUNIT
	depends on SERIAL_EXYNOS
	default KUNIT_ALL_TESTS

config S3C_LOWLEVEL_UART_PORT
        int "S3C UART to use for low-level messages"
        default 0
        help
          Choice of which UART port to use for the low-level messages,
          such as the `Uncompressing...` at start time. The value of
          this configuration should be between zero and two. The port
          must have been initialised by the boot-loader before use.

config SERIAL_SAMSUNG_HWACG
        bool "HWACG(HW Auto Clock Gating) support for Samsung UART port"
        default y
        help
          If HWACG is enabled on UART, System power mode will goes into
          suspend state only when UART UCON Tx, Rx bit was disabled.
          To support HWACG on UART, this configuration should be selected.

config SERIAL_EXYNOS_UARTS
	int
	depends on SERIAL_EXYNOS
	default 16
	help
	  Select the number of available UART ports for the Samsung
	  Exynos serial driver

