config IS_VENDOR_INTERFACE
	tristate "Image subsystem vendor interface"
	default n
	help
	  If this config is set, Image subsystem vendor interface module is added
	  for commuication between external camera module and vendor module.