
&smd {
	vib_info: vibrator_info {
		status = "okay";
		compatible = "samsung,vib-info";
		functions = "INTENSITY", "HAPTIC_ENGINE", "INDEX_HAPTIC_PATTERN", "HYBRID_PATTERN_COMMON_INPUTFF", "PRIMITIVE_EFFECT_COMPOSE", "COMMON_INPUTFF_INTERFACE";
#if 1
		samsung,intensities = <0 2000 4000 6000 8000 10000>;
#else
		samsung,intensities = <>;
#endif

#if 0
		samsung,haptic_intensities = <>;
#else
		samsung,haptic_intensities = <0 3000 5000 6700 8400 10000>;
#endif
	};
};
