# SPDX-License-Identifier: GPL-2.0-only
# ALSA USB drivers

if SND_USB && USB

config SND_EXYNOS_USB_AUDIO
	bool "EXYNOS USB Audio offloading"
	depends on SND_USB_AUDIO && SND_SOC_SAMSUNG_ABOX
	help
	 Say Y here to include support for Exynos USB Audio ABOX offloading.

config SND_EXYNOS_USB_AUDIO_GIC
	bool "EXYNOS USB Audio offloading gic"
	depends on SND_USB_AUDIO
	help
	 Say Y here to include support for Exynos USB Audio ABOX offloading.

config SND_EXYNOS_USB_AUDIO_MODULE
	tristate "EXYNOS USB Audio offloading module"
	depends on SND_USB_AUDIO && SND_SOC_SAMSUNG_ABOX
	help
	 Say Y here to include support for Exynos USB Audio ABOX offloading.

endif	# SND_USB

