# drivers/samsung/debug/Kconfig
#
# Copyright (c) 2010-2020 Samsung Electronics Co., Ltd.
#               http://www.samsung.com/
#
# Licensed under GPLv2

menuconfig SEC_DEBUG
	tristate "Enable Samsung Debugging features"
	default m

if SEC_DEBUG

config SEC_DEBUG_BASE
	tristate "Enable Samsung debug fundamentals"
	default m
	help
	  Samsung Debug Base Driver

config SEC_DEBUG_MODE
	tristate "Enable Samsung force upload mode support"
	default m
	help
	  This option enables get force upload
	  This option call dbg_snapshot_scratch_clear
	  according to force_upload variables

config SEC_DEBUG_EXTRA_INFO
	tristate "Enable Samsung reset reason extra info"
	default m
	help
	  This option enables storing reset reason extra info
	  This option enables ap reset info bigdata
	  based on reset reason extra info

config SEC_DEBUG_HW_PARAM
	tristate "Enable Samsung hw parameter driver"
	default m
	help
	  This option enables storing HW parameter driver
	  This option gets some hardware dependent parameters
	  based on sec debug

config SEC_DEBUG_RESET_REASON
	tristate "Enable Samsung reset reason driver"
	default m
	help
	  This option enables reset reason driver
	  based on sec debug

config SEC_DEBUG_PRINT_PCLR
	bool "Add PC/LR to Panic message for die()"
	default y
	help
	  This option enables PC and LR value present in panic message when the
	  kernel calls die(). It may be useful for upload screen and auto
	  comment.

config SEC_DEBUG_AVOID_UNNECESSARY_TRAP
	bool "avoid unnecessary trap"
	default n
	help
	  This option helps to obtain normal log by avoiding unnessary trap again
	  after exception handling

config SEC_DEBUG_EXCEPTION_SCS
	bool "Preserve shadow call stack data when the exception happened"
	depends on SHADOW_CALL_STACK && SEC_DEBUG_EXCEPTION_STACK
	default n
	help
	  If this is set, kernel can preserve the specific size of shadow
	  call stack data when an exception occurs from EL1. This can help
	  to fiqure out the stack data before the exception happened.

config SEC_DEBUG_WATCHDOGD_FOOTPRINT
	tristate "store watchdogd footprint"
	default m
	help
	  If this config is set, store watchdogd footprint information.

config SEC_DEBUG_LOCKUP_INFO
	bool "Gather softlockup/hardlockup information"
	depends on SEC_DEBUG_HARDLOCKUP_INFO
	default y
	help
	  Gather softlockup/hardlockup information for auto analysis

config SEC_DEBUG_BAD_STACK_CAREFULLY
	bool "Handle bad_stack more carefully"
	default n
	help
	  This options prevent infinite abort loop about stack corruption.

config SEC_DEBUG_FPSIMD_CHECK_CONTEXT
	bool "Detect for fpsimd has corruption"
	default n
	help
	  If FPSIMD has corruption, use this feature for detect problem.

config SEC_DEBUG_FAIL_TO_FREEZE_PANIC
	bool "Panic on fail to freeze tasks"
	depends on !SAMSUNG_PRODUCT_SHIP
	default y
	help
	  This option enables the kernel to panic on fail to freeze tasks

config SEC_DEBUG_UNFROZEN_TASK
	bool "Set unfrozen task information"
	depends on SEC_DEBUG_FAIL_TO_FREEZE_PANIC
	default y
	help
	  This option enables the kernel to set unfrozen task information

config SEC_DEBUG_EMERG_WDT_CALLER
	bool "Mark a caller for emergency watchdog caller"
	default n
	help
	  This option enables the kernel to indicate a caller of emergency
	  watchdog caller.

config SEC_DEBUG_BAD_STACK_INFO
	bool "Set bad stack informaion"
	default y
	help
	  This option enables the kernel to save additional information when
	  kernel run into handle_bad_stack.

config SEC_DEBUG_DTASK
	tristate "Support uninterruptible sleep task debugging"
	default m
	help
	  This option enables getting information of task with TASK_UNINTERRUPTIBLE.

config SEC_DEBUG_SOFTDOG_PWDT
	tristate "Enable Soft Watchdog for Platform"
	default m
	depends on WATCHDOG
	select SOFT_WATCHDOG_EXT
	help
	  This option enables soft watchdog device and soft_panic.

config SEC_DEBUG_PANIC_ON_RCU_STALL
	bool "Enable panic on rcu stall"
	depends on !SAMSUNG_PRODUCT_SHIP
	depends on TREE_RCU || PREEMPT_RCU
	default n
	help
	  This option enables the kernel to panic on "rcu stall"

config SEC_DEBUG_SCHED_INFO
	tristate
	select SEC_DEBUG_STACKTRACE
	help
	  This option enables to print sched info of short duration.
	  This can be useful to analyze a task lockup.

config SEC_DEBUG_WQ_LOCKUP_INFO
	tristate "Enable workqueue lockup info"
	default m
	depends on WQ_WATCHDOG
	select SEC_DEBUG_SCHED_INFO
	help
	  This option enables enhanced workqueue lockup info. Current information
	  for debugging workqueue lockup is not sufficent.

config SEC_DEBUG_SOFTDOG
	tristate "Enable enhanced softdog info"
	default m
	depends on SOFT_WATCHDOG_EXT
	select SEC_DEBUG_STACKTRACE
	help
	  This option enables enhanced softdog info.
	  Select the option to show related task info.

config SEC_DUMP_SINK
	tristate "Enable to dump_sink"
	default n
	help
	  This option enables dump sink.

config SEC_DEBUG_HANDLE_BAD_STACK
	bool "Support handle bad stack debugging"
	depends on SEC_DEBUG
	default n
	help
	  This option enables to stop cpu when the cpu enter
	  handle_bad_stack again.

config SEC_DEBUG_STACKTRACE
	tristate
	help
	  This option enables to print stack trace.

config SEC_DEBUG_HARDLOCKUP_INFO
	tristate "Enable to hardlockup info"
	depends on DEBUG_SNAPSHOT && EXYNOS_HARDLOCKUP_WATCHDOG
	default m
	help
	  This option enables hardlockup information.
	  Select the option to show debugging information when hardlockup is detected.

config SEC_DEBUG_OBJECTS_ADDITIONAL_INFO
	bool "Add caller information"
	depends on DEBUG_OBJECTS_FREE
	default n
	help
	  Add caller information to debug_obj structure.

config SEC_DEBUG_SCHED_REPORT
	tristate "Enable schded report for debugging"
	depends on DEBUG_SNAPSHOT
	default m
	help
	  This option enables sched report for debugging.
	  Select the option to show sched information when stall issue is detected.

config SEC_DEBUG_KERN_ERR_REPORT
	tristate "Enable reporting kernel error"
	depends on SEC_DEBUG
	default m
	help
	  This option enables to report kernel error like kfence/warn.

config SEC_DEBUG_RESUME_PROFILE
	tristate "Enable the latest resume information profile feature"
	depends on SEC_DEBUG
	default n
	help
	  This option enables to display profile information of the latest resume action

config SEC_DEBUG_SLAB_INFO
	tristate "Enable slab info for debugging"
	default m
	help
	  This option enables slab info for debugging.
	  Select the option to show slab info in case of data abort

config SEC_DEBUG_SCHED_INFO_TEST_FOR_ONLY_UML
	tristate "KUnit test for sec_debug_sched_info_test"
	depends on SEC_KUNIT
	depends on SEC_DEBUG_SCHED_INFO
	help
	  TODO: Describe config fully.
	  This CONFIG is recommended to set to y.

config SEC_DUMP_SINK_TEST_FOR_ONLY_UML
	tristate "KUnit test for sec_dump_sink_test"
	depends on SEC_KUNIT
	depends on SEC_DUMP_SINK
	help
	  TODO: Describe config fully.
	  This CONFIG is recommended to set to y.

endif

config SOFT_WATCHDOG_EXT
	tristate "Software watchdog"
	select WATCHDOG_CORE
	help
	  A software monitoring watchdog. This will fail to reboot your system
	  from some situations that the hardware watchdog will recover
	  from. Equally it's a lot cheaper to install.

	  To compile this driver as a module, choose M here: the
	  module will be called softdog.
