/*
 * SAMSUNG S5E9955 board device tree source
 *
 * Copyright (c) 2023 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
/plugin/;

#include "s5e9955-erd9955_common.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include "panel/samsung-s6e3had-1440-3200-command-panel.dtsi"
#include "panel/samsung-s6e3had-720-1600-command-panel-sec.dtsi"
#include "panel/samsung-s6e3haf-1080-2340-panel.dtsi"

#define BOARD_ID	0x0
#define BOARD_REV	0x0

/ {
	compatible = "samsung,s5e9955", "samsung,ERD9955";
	board_id = <BOARD_ID>;
	board_rev = <BOARD_REV>;

	fragment@model {
		target-path = "/";
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <1>;

			model = "Samsung ERD9955 board based on S5E9955";
		}; /* end of __overlay__ */
	}; /* end of fragment */
}; /* end of root */

&serial_0 {
	status = "okay";
};

&drmdsim_0 {
	#address-cells = <1>;
	#size-cells = <0>;
	drmpanel {
		compatible = "samsung,command-ctrl";
		/* reset, power */
		reset-gpios = <&gpc0 0 GPIO_ACTIVE_HIGH>;
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&ddi_rst>;

		connect-panel = "s6e3had_1440_3200_cmd";
		default-panel = "s6e3had_1440_3200_cmd";
		panel-reconfigure = <0>;
	};
};

&drmdsim_1 {
	#address-cells = <1>;
	#size-cells = <0>;
	drmpanel {
		compatible = "samsung,command-ctrl";
		/* reset, power */
		reset-gpios = <&gpc0 1 GPIO_ACTIVE_HIGH>;
		reg = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&ddi_rst_sec>;

		connect-panel = "s6e3had_720_1600_cmd_sec";
		default-panel = "s6e3had_720_1600_cmd_sec";
		panel-reconfigure = <0>;
	};
};

&scsc_wifibt {
	board_rev = <0>;
};
