source "$(KCONFIG_EXT_PREFIX)../common/drivers/input/touchscreen/sec_ts/Kconfig"
source "$(KCONFIG_EXT_MODULES_PREFIX)sgpu/Kconfig"
source "$(KCONFIG_EXT_MODULES_PREFIX)camera/camera/Kconfig"
source "$(KCONFIG_EXT_MODULES_PREFIX)sec_input/sec_input/Kconfig"
source "$(KCONFIG_EXT_MODULES_PREFIX)sec_input/touchscreen/synaptics/Kconfig"
