config VIDEO_EXYNOS_SMFC
	tristate "Exynos Still MFC(H/W JPEG CODEC) Driver"
	depends on VIDEO_DEV && HAS_DMA
	depends on ARCH_EXYNOS
	select V4L2_MEM2MEM_DEV
	select VIDEOBUF2_DMA_SG
	default n
	help
	  Still MFC(Multi Format Codec) V4L2 Driver for Exynos SoCs.
	  The driver supports for mem2mem V4L2 device.

config SMFC_EXYNOS_KUNIT_TEST
	tristate "KUnit tests for SMFC" if !KUNIT_ALL_TESTS
	depends on KUNIT
	depends on VIDEO_EXYNOS_SMFC
	default KUNIT_ALL_TESTS
