# SPDX-License-Identifier: GPL-2.0-only

config SND_SOC_SAMSUNG_EXYNOS_AW882XX
	tristate "AW882XX amp support on exynos"
	select SND_SMARTPA_AW882XX
	select SEC_SND_SYNCHRONIZED_IPC_AW

config SND_SOC_SAMSUNG_EXYNOS8855_AUDIO
	tristate "Sound card support on exynos8855 SEP"
	select SND_SOC_SAMSUNG_ABOX
	select SND_SOC_SAMSUNG_VTS
	select SND_SOC_SAMSUNG_MAILBOX
	select SND_SOC_SAMSUNG_SLIF

config SND_SOC_SAMSUNG_EXYNOS_TAS25XX
	tristate "TAS25XX amp support on exynos"
	select SND_SOC_TAS25XX
	select TAS25XX_ALGO
	select TAS25XX_CALIB_VAL_BIG
	select SEC_SND_SYNCHRONIZED_IPC_TI
	select PLATFORM_EXYNOS
	select FW_LOADER_USER_HELPER_FALLBACK
	select TAS25XX_MISC
	select TAS25XX_IRQ_BD

source "$(KCONFIG_EXT_SOC_PREFIX)sound/soc/samsung/exynos/abox/Kconfig"
source "$(KCONFIG_EXT_SOC_PREFIX)sound/soc/samsung/exynos/vts/Kconfig"
source "$(KCONFIG_EXT_SOC_PREFIX)sound/soc/samsung/exynos/slif/Kconfig"
source "$(KCONFIG_EXT_SOC_PREFIX)sound/soc/codecs/Kconfig"